@charset "UTF-8";
.body {
  background: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.visualy-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header__logo {
  text-decoration: none;
  margin-right: 93px;
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo--accent {
  color: #000000;
}

.footer__logo--accent {
  color: #FFFFFF;
}

/* Хэдер */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header__item {
  margin-top: 0;
  margin-bottom: 0;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__item--current::after {
  content: "";
  display: block;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--color {
  color: #757575;
}

.header__link:hover, .header__link:focus {
  color: #2196F3;
}

.header__link--current {
  color: #2196F3;
}

.header__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon--size {
  width: 10px;
  height: 16px;
}

.header__link--color:hover .header__icon,
.header__link--color:focus .header__icon {
  fill: #2196F3;
}

/* Герой */
.hero {
  background-color: #C4C4C4;
  height: 600px;
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero__button {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

/* Секция Особенности */
.section-features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.section-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-features__item:not(:last-child) {
  margin-right: 30px;
}

.section-features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-right: 0;
  margin-bottom: 30px;
}

.section-features__img {
  width: 70px;
  height: 70px;
}

.section-features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-features__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Секция Чем мы занимаемся */
.section-job {
  padding-top: 47px;
  padding-bottom: 94px;
}

.section-job__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-job__item {
  position: relative;
}

.section-job__item:not(:last-child) {
  margin-right: 30px;
}

.section-job__picture {
  display: block;
}

.section-job__description {
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.section-job__text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Секция Наша команда */
.section-team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-team__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__item:not(:last-child) {
  margin-right: 30px;
}

.section-team__foto {
  display: block;
}

.section-team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.section-team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.section-team__item-icons:not(:last-child) {
  margin-right: 10px;
}

.section-team__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:hover, .section-team__link:focus {
  background-color: #2196F3;
}

.section-team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:hover .section-team__icon,
.section-team__link:focus .section-team__icon {
  fill: #FFFFFF;
}

/* Секция Наши клиенты */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__item:not(:last-child) {
  margin-right: 30px;
}

.section-clients__item:hover, .section-clients__item:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.section-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
}

.section-clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover .section-clients__icon,
.section-clients__link:focus .section-clients__icon {
  fill: #2196F3;
}

/* Секции страницы Порфолио */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-portfolio__list-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.section-portfolio__button {
  cursor: pointer;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__button:hover, .section-portfolio__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-right: 0;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 0;
  list-style: none;
}

.section-portfolio__item {
  width: 370px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__item--indent:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio__item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  overflow: auto;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__item:hover .section-portfolio__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.section-portfolio__div {
  border: 1px solid #ECECEC;
  border-top: 0;
  padding: 20px 24px 20px 24px;
}

.section-portfolio__div--position {
  position: relative;
  overflow: hidden;
}

.section-portfolio__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.section-portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0;
}

/* Подвал */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__div {
  margin-right: 70px;
}

.footer__link {
  text-decoration: none;
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__text {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.footer__item {
  text-decoration: none;
  color: #FFFFFF99;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item--position {
  margin-bottom: 0px;
}

.footer__item:hover, .footer__item:focus {
  color: #2196F3;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__div--position {
  margin-right: 93px;
}

.footer__appeal {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer__list--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon:hover, .footer__icon:focus {
  background-color: #2196F3;
}

.footer__icon--margin {
  margin-left: 10px;
}

.footer__img {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input {
  color: #FFFFFF;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
}

.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-window__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.modal-window__button:hover {
  cursor: pointer;
}

.modal-window__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__button:hover .modal-window__icon {
  fill: #2196F3;
}

/* Форма */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 10px;
}

.form__block {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #2196F3;
  outline: none;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.form__message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__message:focus {
  border-color: #2196F3;
  outline: none;
}

.form__checkbox {
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.form__checkbox-square {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox--view:checked + .form__checkbox > .form__checkbox-square {
  opacity: 0;
}

.form__checkbox--view:focus + .form__checkbox > .form__checkbox-square {
  fill: #2196F3;
}

.form__checkbox-mark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  opacity: 0;
  margin-right: 7px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox--view:checked + .form__checkbox > .form__checkbox-mark {
  opacity: 1;
}

.form__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.form__button:hover {
  cursor: pointer;
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */