/* Секция Наша команда */

.section-team { 
    background-color: $colorBackground;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-team__title {
    color: $colorTitle;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.section-team__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.section-team__item{
    background-color: $colorWhite;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
} 
.section-team__foto{
    display: block;
}
.section-team__description {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-team__name {
    color: $colorTitle;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.section-team__text{
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
}
.section-team__item-icons:not(:last-child) {
    margin-right: 10px; 
}
.section-team__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
    background-color: $colorBlue;
}
}
.section-team__icon {
    width: 20px;
    height: 20px;
    fill: $colorGray;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .section-team__link:hover &,
    .section-team__link:focus & {
    fill: $colorWhite;
}
}


